.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* margin: 0 auto; */
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #eceaea;
}
.labelTitle {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  color: #333;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  width: 150px;
  margin: 0 auto;
  background-color: #00cc5c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: #16b608;
  }
}

.errorMess {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
